# Ambiente virtual
venv/
.env/
.venv/

# Arquivos Python
__pycache__/
*.py[cod]

# Arquivos de build
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs / Editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
